body {
    background-image: url(assets/burger-friends.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh; 
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #0fb9b1;
    width: 100vw;
    height: 5rem; 
}

nav h3 {
    font-family: 'Roboto', sans-serif;
    margin-left: 1.2rem;  
}

nav button {
    font-family: 'Roboto', sans-serif;
    margin-right: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none; 
    width: 8rem; 
    height: 2rem;
}

.section-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 5rem);
}

.content-boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 200px;  

}

.form-box{
    display: flex; 
    background-color: rgba(225, 225, 225, .9);
    height: 20rem;
    width: 21rem;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem; 

}

form h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
}

form label {
    font-family: 'Roboto', sans-serif;
    margin: 0.25rem
}

form button {
    font-family: 'Roboto', sans-serif;
    background-color:#0fb9b1;
    width: fit-content;
    border-radius: 0.2rem; 
    padding: 0.2rem; 
    margin-top: 1rem;
    border: none, 
}

.cookpot-box {
    display: flex;
    background-color: rgba(225, 225, 225, .9);
    height: 20rem;
    width: 21rem;
    justify-content: center;
    align-items: center;
}

.cookpot-image {
    width: 10rem;
    height: 10rem;
}

.selected-meal-box {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.you-should-make {
    font-family: 'Roboto', sans-serif; 
    font-style: italic;
}

.selected-meal {
    font-family: 'Roboto', sans-serif;
    margin: 10px; 
}

/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

